.countdown-section {
    padding: 6rem;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, rgb(10, 10, 50) 0%,rgb(60, 10, 60) 100%);
}