.guest-page {
    .page-overlay {
        position: fixed;
        opacity: 0.90;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background: linear-gradient(to bottom, rgb(10, 10, 50) 0%,rgb(60, 10, 60) 100%);
    }

    .page-content {
        position: absolute;
        top: 10%;
        left: 0%;
        right: 0;
        z-index: 1;
        text-align: center;
        padding-bottom: 10rem;

        .couple-name  {
            font-size: 80px;
            font-family: "Clicker Script", cursive;
            color: white;

            @media screen and (max-width: 700px) {
                font-size: 40px;
            }

            &.info {
                font-size: 40px;
            }
        }

        @media screen and (max-width: 700px) {
            .countdown-timer .overlay {
                margin-bottom: -35%;
            }
        }

        .section-text {
            color: white;
            text-align: center;

            @media screen and (max-width: 700px) {
                margin-top: 3rem;
            }

            .content {
                padding: 2rem 4rem;
                max-width: 500px;
                @media screen and (max-width: 700px) {
                    padding: 2vw 4vw;
                    margin: 0 4vw;
                }

                background-color: #DDD3;
                display: inline-block;
                border-radius: 15px;

                .guest-info {
                    padding: 1rem;
                    text-align: left;
                    margin: auto;
                    font-size: 18px;
                    @media screen and (max-width: 500px) {
                        font-size: 4.1vw;
                    }

                    hr { margin: 3px -10px ; }

                    .info-content {
                        .info-row {
                            display: flex;

                            > div { padding-bottom: 0.5rem; }
                            .info-header {
                                min-width: 90px;
                                @media screen and (max-width: 500px) {
                                    min-width: 20vw;
                                }
                            }
                            .info-column-symbol { padding-right: 0.5rem; }
                            .info-text { font-weight: 400; font-weight: 900; }
                        }
                    }
                }
            }

        }

        .buttons {
            margin-top: 2rem;
            text-align: center;

            .button {
                cursor: pointer;
                color: black;
                border: 2px solid gold;
                padding: 1rem 2rem;
                background-color: #EEEA;
                display: inline-block;
                border-radius: 15px;
                margin: 0 1rem;

                &:hover {
                    background-color: #EEEF;
                    padding: 1.1rem 2.2rem;
                    font-weight: bold;
                    transition: 0.3s padding;
                }
            }
        }
    }
}