.gami-navbar {
    border: 1px solid transparent;

    .gami-navbar-nav {
        margin: 0;

        .nav-item {
            float: left;
        }
    }
}

.nav-container {
    position: absolute;
    top: 0;
    right: 16px;
}