@import "app/theme-variables";
@import 'legacy-styling';

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#app {
    background-color: #fafafa;
    min-height: 100%;
    min-width: 100%;
}

p,
label {
    font-family: Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5em;
}
textarea { padding: 3px 8px; }
a {outline : none !important;}

ol, ul {
    margin: 0; padding-left: 2rem;
    .unstyled { list-style: none; }
}
li.unstyled { list-style: none; }

::placeholder {
    color: rgb(196, 187, 201);
    font-weight: 300;
    font-size: 80%;
}

.button-disabled {
    color: gray !important;
    border: 1px solid gray !important;
    background-color: lightgray !important;
    cursor: not-allowed !important;
    transform: unset !important;
}

.my-custom-button {
    font-size: 120%;
    text-align: center;
    margin: .5rem 1rem;
    padding: 1.1rem 3rem;
    display: inline-block;
    border-radius: 10px;
    color: #FDFDFD;
    background-color: #3E0E0A;
    cursor: pointer;
    outline: none;

    &.invert {
        background-color: transparent;
        color: #3E0E0A;
        border: 1px dashed #3E0E0A;
    }

    &.smaller {
        font-size: 100%;
        padding: .75rem 3rem;
        margin: 1rem 0;

        &:hover {
            background-color: #67b6ff;
            color: RGBA(255, 255, 255, 0.85)
        }
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform .215s;
        color: #67b6ff;
        text-decoration: none;

        &.triggered {
            transform: none;
            transition: none;
        }
    };
}

#topbar-container {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: sticky;
}

.smaller { font-size: 75%; }
.bigger { font-size: 130%; }

.text-white { color: white; }
.text-transparent { color: transparent; }
.text-hover-my-style:hover,
.text-hover-my-style:focus { color: #67b6ff; }

.text-main-color { color: $main_color; }
.text-secondary-color { color: $secondary_color; }
.text-tertiary-color { color: $tertiary_color; }

.bg-main-color { background-color: $main_bg; }
.bg-secondary-color { background-color: $secondary_bg; }
.bg-tertiary-color { background-color: $tertiary_bg; }
.bg-white { background-color: white; }

.text-center { text-align: center; }
.text-underline { text-decoration: underline; }
.text-strong { font-weight: bolder; }

.posi-relative { position: relative; }
.posi-fixed { position: fixed; }