@import "app/theme-variables";

.top-main-container {
    background-color: $main_bg;

    .header-title {
        text-align: left;
    }

    .side-menu-burder {
        position: absolute;
        left: 0;
        top: 0;
        color: white;
        padding: 13px 16px;
    }

    .side-menu-container {
        .side-menu-overlay {
            background-color: RGBA(0, 0, 0, 0.5);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .side-menu-content {
            top: 0;
            bottom: 0;
            position: fixed;
            background-color: RGBA(255, 255, 255, 0.92);
            box-shadow: -2px 0px 5px 0px RGBA(0, 0, 0, 0.5);

            .side-menu-item {
                background-color: red;
            }
        }
    }

    .how-to-use {
        position: absolute;
        left: 16px;
        top: .75rem;
        font-weight: bold;
        border-radius: 15px;
        padding: 0.15rem 0.65rem;
        text-decoration: none;

        &:hover {
            background-color: #67b6ff;
        }
    }

    .top-bar-side-title {
        padding: 8px;
        font-size: 50%;
        font-weight: 900;
        letter-spacing: 5px;
        font-family: cursive;
        display: inline-block;
    }

    .top-bar-title {
        color: white;
        padding: 5px;
        font-weight: 900;
        letter-spacing: 5px;
        font-family: cursive;
        display: inline-block;

        &.big {
            font-size: 150%;
        }
    }
}

.toggle-preview-mode-container {
    position: absolute;
    left: 50px;
    top: .3rem;

    .toggle-preview-mode {
        width: 13rem;
        border: 1px solid #00CC66;
        color: green;

        &.active {
            color: black;
            border-color: black;
            background-color: #CCFFCC !important;
        }
    }
}