@import "app/theme-variables";

.top-navigation-bar {
    margin-top: -1px;
    height: 30px;
    position: relative;

    .top-nav-item {
        display: inline-block;

        .top-nav-button,
        .top-nav-dropdown {
            color: green;
            border-color: green;
            padding: 0.5rem 1rem;
            margin: 0 1rem;
        }
    }
}

.top-navigation-bar-bg{
    background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}