.gallery-page {
    .gallery-list {
        margin: 10px;

        .gallery-item {
            padding: 5px;
            width: 25%;
            @media screen and (max-width: 1400px) {
                width: 33.33%;
            }
            @media screen and (max-width: 1000px) {
                width: 50%;
            }
            @media screen and (max-width: 700px) {
                width: 100%;
            }

            &:hover .gallery-content {
                transform: scale(0.98);
            }

            .gallery-content {
                transition: transform 0.35s;
                border: 4px solid #000A;
                padding: 4px;
                background-color: burlywood;
                position: relative;
                top: 0%;
                left: 0%;
                right: 0%;

                img {
                    width: 100%;
                    border: 1px solid white;
                }
            }
        }
    }

    .gallery-content-modal {
        position: fixed;
        top: 10%;
        left: 10%;
        right: 10%;
        height: 100%;
        max-height: 80%;
        max-width: 80%;
        z-index: 2000;
        text-align: center;

        .gallery-content-modal-inner {
            height: 100%;
            height: 100%;
            display: inline-block;
            position: relative;

            .close-button {
                top: -5%;
                right: -3%;
                position: absolute;
                color: black;
                font-size: 3vw;
                background-color: #F003;
                padding: 0.5vw 1vw;
                border-radius: 50%;
                border: 2px solid black;

                &:hover {
                    background-color: #F00A;
                }
            }

            img {
                max-width: 100%;
                max-height: 100%;
                background-color: burlywood;
                border: 4px solid #000A;
                padding: 4px;
            }
        }
    }

    .gallery-modal-overlay {
        background-color: #FFFA;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1990;
    }

    .buttons {
        padding-top: 3rem;
        text-align: center;

        .home-button {
            cursor: pointer;
            color: black;
            border: 2px solid gold;
            padding: 1rem 2rem;
            background-color: #EEEA;
            display: inline-block;
            border-radius: 15px;

            &:hover {
                background-color: #EEEF;
                padding: 1.1rem 2.2rem;
                font-weight: bold;
                transition: 0.3s padding;
            }
        }
    }
}